---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="A propos | La 3ème dimension" description="About La 3ème dimension">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="A propos">
				La 3ème Dimension est née d'une passion pour la conception et l'innovation en 3D. Ce projet puise ses racines dans diverses expériences, notamment la fabrication du télescope Smallest et plusieurs autres réalisations dans divers domaines.<br>

					Depuis 2016, nous évoluons dans le domaine de la communication, ce qui nous a permis d'acquérir des compétences en design et en dessin, enrichissant notre approche créative et visuelle dans la conception 3D.
				    
					Depuis plus de 4 ans, nous nous consacrons à l'impression 3D, explorant différentes techniques et matériaux. Une approche qui privilégie un équilibre entre design, simplicité, optimisation et efficacité. Chaque création est pensée pour répondre aux besoins de manière astucieuse, économique, fonctionnelle et accessible.<br>
				   
					Si vous souhaitez découvrir nos réalisations, je vous invite à plonger dans l'univers de La 3ème Dimension...
			</Hero>	

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: auto;
		margin-right:auto;
		margin-block: auto;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);		
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);

		
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
			text-align: left;
			margin-left: 5%;
			;
		}

		.about > :global(:first-child) {
			grid-column: 1/3;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}

	}
	
</style>
