<div class="pill"><slot /></div>

<style>
	.pill {
		display: flex;
		padding: 0.5rem 1rem;
		gap: 0.5rem;
		color: var(--accent-text-over);
		background-color: #2e002b;
		border-radius: 0.9375rem;
		font-size: var(--text-md);
		white-space: nowrap;
		opacity: 0.70;
	}
</style>
